a {
  text-decoration: none;
  transition: color 0.25s, background-color 0.25s;
}
a:link,
a:visited
{
  background-color: transparent;
  color: $our-highlight;
}
a:focus,
a:hover,
{
  background-color: $our-highlight;
  border-color: $our-highlight;
  color: $our-white;
}


// a:link::first-line,
// a:visited::first-line,
// a:focus::first-line,
// a:hover::first-line,
// {
//   letter-spacing: 0.1em;
// }

// main > p:first-of-type a::first-line, article > p:first-of-type a::first-line {
//   -moz-transition-property: none;
//   transition-property: none;
// }

// main > p:first-of-type a:hover::first-line, article > p:first-of-type a:hover::first-line {
//   letter-spacing: inherit;
// }
